<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-center w-100" id="navbarSupportedContent" ng-controller="NavigationController">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Weltweit</a>
        <a class="nav-item nav-link" routerLink="/Germany" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Deutschland</a>
      </div>
    </div>
    </div>
  </nav>
</header>